html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: lighter;
}

a{
  color: inherit;
}

section {
  width: 100%;
  height: 100vh;
  background-color: #ED4D6E;
  position: absolute;
  top: 0;
  left: 0;
}


